$white: #fff;
$light-white: #f7f7f7;
$dark: #555555;
$text-bgc: #59afff;

$title-color-gradient: linear-gradient(to top left, #ff721b 0%, #7873f5 100%);

$color-gradient-transparent: linear-gradient(45deg, #ff721b7a, #4943f0bb);

$color-gradient-solid: radial-gradient(
	circle at top right,
	#ff721b 0%,
	#7873f5 100%
);
