$white: #fff;
$light-white: #f7f7f7;
$dark-white: #e8e8e8;
$dark: #3c3c3c;
$blue: #7873f5;
$dark-blue: #4742df;

$title-color-gradient: linear-gradient(to top left, #ff721b 0%, #7873f5 100%);

$color-gradient-transparent: linear-gradient(45deg, #ff721b7a, #4943f0bb);

$color-gradient-solid: radial-gradient(
	circle at top right,
	#ff721b 0%,
	#7873f5 100%
);
